body, html {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

body {
    display:flex;
    justify-content:center;
    align-items:center;
}

img {
    max-width:95%;
    max-height:95%;
    object-fit:fill;
}
